<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="fontawesome-free-6.1.1-web/css/all.min.css" />
    <link rel="stylesheet" href="css/trangchu.css" />
    <script
      type="text/javascript"
      src="https://cunghocweb.com/data-out/js/jquery.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header_left">
          <div class="menu_header">
            <i class="fa-solid fa-bars"></i>
            <span>Menu</span>
          </div>
          <div class="seach">
            <i class="fa-solid fa-magnifying-glass"></i>
            <form action="">
              <input type="search" placeholder="Tìm kiếm sản phẩm" />
            </form>
          </div>
        </div>
        <div class="logo">
          <a href="index.html"><img src="images/logo.png" alt="" /></a>
        </div>
        <div class="header_right">
          <a href="login_regin.html"><i class="fa-solid fa-user"></i></a>
          <a href=""><i class="fa-solid fa-heart"></i></a>
          <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </header>
      <div class="menu_main">
        <div class="close"><img src="images/icon_close.png" alt="" /></div>
        <div class="user">
          <img src="images/huy.jpg" alt="" />
          <span>Nguyễn Quang Huy</span>
          <p>Cá nhân</p>
        </div>
        <nav>
          <ul>
            <li>
              <a href="index.html">
                <i class="fa-solid fa-house"></i> Trang Chủ
              </a>
            </li>
            <li>
              <a href="product.html">
                <i class="fa-solid fa-box-open"></i> Sản Phẩm
              </a>
            </li>
            <li>
              <a href="cart.html">
                <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng
              </a>
            </li>
            <li>
              <a href="login_regin.html">
                <i class="fa-solid fa-user"></i> Tài Khoản
              </a>
            </li>
            <p>Thương Hiệu</p>
            <li>
              <a href=""><img src="images/icon_nike.png" alt="" /> NIKE</a>
            </li>
            <li>
              <a href=""><img src="images/Icon_adidas.png" alt="" /> ADIDAS</a>
            </li>
            <li>
              <a href=""
                ><img src="images/icon_balenciaga.png" alt="" /> BALENCIAGA</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <main>
        <div class="title">
          <span class="home">Trang chủ</span> &ensp;
          <i class="fa-solid fa-forward"></i> &ensp;
          <span>Đăng nhập/Đăng ký</span>
        </div>
        <div class="login_regin">
          <div class="login">
            <h2>ĐĂNG NHẬP</h2>
            <form action="" method="post">
              <label for="">User name:</label><br />
              <input type="text" name="" id="" /><br />
              <label for="">Password:</label><br />
              <input type="password" name="password" />
              <div class="btn_login">
                <input type="submit" name="login" value="Đăng nhập" />
                <a href="">Quên mật khẩu?</a>
              </div>
            </form>
            <p>
              Nếu Quý khách có vấn đề gì thắc mắc hoặc cần hỗ trợ gì thêm có thể
              liên hệ:
            </p>
            <b>Hotline: 0961.022.334</b>
            <p>để được support nhanh nhất nhé.</p>
          </div>
          <div class="regin">
            <h2>ĐĂNG KÝ</h2>
            <form action="" method="post" enctype="multipart/form-data">
              <label for="">Họ và tên:</label><br />
              <input type="text" name="name" /><br />
              <label for="">Email:</label><br />
              <input type="email" name="email" /><br />
              <label for="">Mật Khẩu:</label><br />
              <input type="password" name="password" /><br />
              <label for="">Nhập lại password:</label><br />
              <input type="password" name="repassword" /><br />
              <input type="file" name="avata" /><br />
              <div class="btn_regin">
                <input type="submit" value="Đăng ký" name="dangky" />
                <input type="reset" value="Làm mới" />
              </div>
            </form>
          </div>
        </div>
      </main>
      <footer>
        <div class="fot_let">
          <img src="images/logo.png" alt="" />
          <p>HỆ THỐNG BÁN GIÀY CHÍNH HÃNG SỐ 1 TP HỒ CHÍ MINH</p>
          <p><b>Điện Thoại: </b>0961022334</p>
          <p><b>Email: </b>G5shop@gmail.com</p>
          <div class="contact">
            <a href=""><img src="images/facebook.png" alt="" /></a>
            <a href=""><img src="images/youtube.png" alt="" /></a>
            <a href=""><img src="images/gmail.png" alt="" /></a>
          </div>
        </div>
        <div class="fot_between">
          <h3>LIÊN HỆ VỚI SHOP</h3>
          <br />
          <ul>
            <li><a href="">Hướng dẫn đặt hàng</a></li>
            <li><a href="">Điều khoản và điều kiện thanh toán</a></li>
            <li><a href="">Chính sách giao hàng và nhận hàng</a></li>
            <li><a href="">Đổi trả - bảo hành</a></li>
            <li><a href="">Giới thiệu về shop G5</a></li>
          </ul>
        </div>
        <div class="fot_right">
          <h3>HỆ THỐNG G5 SHOP</h3>
          <br />
          <p>Hà Nội: 57 Quan Hoa, Cầu Giấy, Hà Nội</p>
          <p>Khánh Hòa : 272 Thống Nhất, PhườngPhương Sơn, TP.Nha Trang</p>
          <p>
            TP Hồ Chí Minh: 258/3 Dương Quảng Hàm, Phường 5, Quận Gò Vấp, TP.Hồ
            Chí Minh
          </p>
          <p>Vĩnh Long: 55F Phạm Thái Bường, Phường 4</p>
          <p>Hậu Giang: 22 Nguyễn Công Trứ, Khu Phố 1, Phường 1, TP.Vị Thanh</p>
        </div>
      </footer>
    </div>
  </body>
</html>
<script src="js/menu.js"></script>
<script src="js/login.js"></script>
